
@{
    ViewBag.Title = "Prizes";
}


<h1>Prizes </h1>
<br/>

<p>  Once you have passed your training and begin reviewing papers you can win one of the below prizes depending on how many reviews you complete: </p>
<ul>

    <li>When you complete 10 papers, you will receive <strong> CAMARADES USB stick</strong></li>
</ul>
<p>You also have the option to earn any of the prizes below in exchange for the number of reviews completed: </p>
<ul>

    <li>a voucher for 6 months of <strong>Spotify</strong> or <strong>Netflix</strong> (<strong>30</strong> papers)</li>
    <li>
        a <strong>Kindle</strong> (<strong>40</strong> papers)
</li>
    <li>an <strong>iPad mini</strong> (<strong>80</strong> papers) </li>
</ul>


<div class="col-xs-12 col-sm-8 col-md-6">

    <img class="full-width-image" src="~/Images/prizes.png" />

</div>