@{
    ViewBag.Title = "Reviewer Record";
}

<div class="manul-center">
<h3 class="blue"> You are currently a @ViewBag.level.</h3>

<h3 class="blue">You have completed @ViewBag.ntpub publication reviews in training section.</h3>

<h3 class="blue">You have completed @ViewBag.npub publication  reviews for NPQIP project.</h3>
     </div>