html {
    background-color: #fff;
    margin: 0;
    padding: 0;
}

body {   
         border-top: solid 0px #fff;
     background-color:#fff;
    color: #333;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

.certificate {
    width:800px; 
    height:600px;
    position:absolute
}

.background img{
  width: 100%;
  position:absolute
}
.name {
    font-family: Arial
}

.name {
    padding-top:200px
}

.time {
    padding-top:135px
}
.logo {
    padding-top:100px;
    padding-right:100px
}


